.app-draw-and-guess-loading {
  width: $width-16;
  margin: $width-8 auto;
  text-align: center;
}


.app-draw-and-guess-game {
  display: flex;
  flex-direction: row;
  width: 1280px;
  margin: $width-4 auto;
  background: $white;
  border: 1px solid $grey-4;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.20);
  border-bottom-left-radius: $width-2;
  border-bottom-right-radius: $width-2;

  &.live-board {
    width: 960px !important;
    .board-placeholder {
      width: 960px;
      height: 540px;
      background: $blue-4;
      color: white;
      line-height: 540px;
      font-size: $width-10;
      text-align: center;
      word-spacing: 1em;
    }
  }

  .game-ready {
    border-right: 1px solid $grey-4;
    height: 100%;
  }

  .sketch-layout {
    width: 960px;
  }
  .chat-layout {
    width: 320px;
    display: flex;
    flex-direction: column;
    .ant-tabs {
      padding: 0 $width-2;
    }
    .chat-list {
      flex: 1 1 auto;
      height: 540px;
      max-height: 540px;
      overflow: hidden;
    }
    .images-list {
      flex: 1 1 auto;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      .list-content {
        padding: $width-4;
        flex: 1 1 auto;
        overflow: auto;
      }
    }
    .danmaku-layout {
      height: 100%;
      display: flex;
      flex-direction: column;
      .danmaku-list {
        flex: 1 1 60%;
        overflow: auto;
        &.full-height {
          flex: 1 1 100%;
        }
      }
      .answer-list {
        flex: 0 0 40%;
        overflow: auto;
        box-shadow: -2px -2px 10px rgb(0 0 0 / 20%);
      }
    }

  }
}

.app-draw-and-guess-settings {
  .riddle-list-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .ant-card {
      margin-left: $width-2;
    }
  }
}

.ant-modal {
  .avatar-picker {
    display: flex;
    flex-wrap: wrap;
    .avatar-picker-item {
      margin: $width-1 1px;
      width: 80px;
      height: 80px;
      cursor: pointer;
    }
  }
}


.cropped-images-viewer {
  display: flex;
  flex-direction: row;
  height: 180px;
  border: 1px solid $grey-4;
  .img-layout {
    flex: 0;
  }
  .delete-layout {
    line-height: 180px;
    text-align: center;
    cursor: pointer;
    background: $grey-4;
    flex: 1 1 auto;
    &:hover {
      background: $grey-6;
    }
  }
}
